body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  max-width: 800px;
  margin: 12px;
  display: flex;
  justify-content: center;
}

header input {
  background-color: #202b55;
  padding: 6px;
  border: 1px solid #a9bcdb;
  color: #a9bcdb;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
}

.container {
  background-image: linear-gradient(#202b55, #202b55, #588ed7, #62a0d1);
  max-width: 800px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  color: #e3ebfc;
  border: 2px solid #a9bcdb;
  margin: 0 12px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
}

input.checkbox {
  margin: 21px;
  color: #e3ebfc;
}

.checkText {
  padding: 12px;
}

a {
  padding: 12px;
}

.checked {
  text-decoration: line-through;
}

i {
  color: #e3ebfc;
}

.submit {
  color: #e3ebfc;
  background-color: #202b55;
  border: 1px solid #e3ebfc;
  margin: 12px;
  padding: 12px;
}

label {
  padding: 12px;
}
